{% macro link(title, href) %}
<div class="py-2 header seperator-down hover:underline">
	<a class="text-xl text-refcolor" href="{{ href }}">{{ title }}</a>
</div>
{% endmacro %}

{% extends 'src/templates/2-cards.html' %}

{% block fractions %}3/2{% endblock %}

{% block leftcards %}
<!-- Course picture -->
<div class="content-center align-middle card row-span-2">
	<img
		class="object-cover h-full"
		src="/assets/img/gondwana.gif"
		alt="Gondwana Animation"
	/>
</div>
{% endblock %}

{% block rightcards %}
<!-- Links -->
<div class="card">
	<div class="w-full font-bold seperator-down header">
		African geodynamics course
	</div>
	<div class="content">
		Sagittis tincidunt congue adipiscing platea fringilla praesent sit,
		dolor lacinia nunc non interdum dis. Facilisi fermentum nullam purus
		accumsan at pellentesque, torquent ridiculus blandit quisque leo elit,
		massa sociosqu curabitur nunc donec. Consectetur est congue faucibus
		vehicula finibus facilisis iaculis interdum taciti dui mollis erat non,
		ornare sociosqu eros tempor nibh amet mattis urna lorem id himenaeos.
	</div>
	<div class="pt-2">
		{{ link('Course Brochure', '/') }}
		{{ link('Course Notes', '/') }}
		{{ link('12 Powerpoint Presentations', '/') }}
	</div>
</div>
{% endblock %}
