{% extends 'src/includes/base.html' %} {% block content %}
<!-- Content -->
<div class="md:squish-center-container">
	<div class="w-full md:grid-1/2 md:gap-x-4">
		<!-- Gondwana Animation -->
		<div class="flex flex-col mb-4 card gap-y-4 md:mb-0">
			<div
				class="w-full text-xl font-bold seperator-down header"
			>
				News
			</div>
			<div class="flex-grow">
				<img
					src="/assets/img/news.jpg"
					class="w-full"
				/>
			</div>
			<div class="flex-grow">
				<img
					src="/assets/img/animation.gif"
					class="w-full"
				/>
			</div>
		</div>

		<!-- News items -->
		<div class="flex flex-col row-span-2 gap-y-4">
			{% include 'src/news/items/01_excerpt.html' %} {%
			include 'src/news/items/01_excerpt.html' %} {% include
			'src/news/items/01_excerpt.html' %} {% include
			'src/news/items/01_excerpt.html' %}
		</div>
	</div>
</div>
{% endblock %}
