{% extends 'src/includes/base.html' %} {% block content %}
<!-- Content -->
<div class="squish-center-container">
	<div class="flex flex-row w-full gap-x-4">
		<!-- Gondwana Animation -->
		<div class="flex flex-col card gap-y-4" style="height: 35rem;">
			<div
				class="w-full text-xl font-bold seperator-down header"
			>
				About
			</div>
			<div class="flex-grow">
				<img
					src="/assets/img/personal.jpg"
					class="w-full"
				/>
			</div>
			<div class="flex-grow">
				<img
					src="/assets/img/magnetic-anomalies.bmp"
					class="w-full"
				/>
			</div>
		</div>

		<div class="flex flex-col flex-grow max-w-xl gap-y-4">
			<div class="card content">
				<b class="header">Colin Reeves</b> has had an
				career in Nisl nec himenaeos lacinia massa class
				odio pharetra, convallis litora luctus nunc dui
				fringilla arcu duis, nullam mattis cursus
				rhoncus accumsan ac. Quam neque ullamcorper
				torquent taciti turpis a leo elit iaculis, et
				lorem aptent aenean faucibus cubilia senectus
				metus, magna est eu morbi lacinia tortor feugiat
				imperdiet. Velit tellus nisi hac magnis
				vulputate sagittis ut aliquet montes, ultrices
				turpis tristique senectus nisl mi mus fames ad,
				convallis sociosqu ligula adipiscing maximus
				consequat dis purus. Tincidunt senectus
				pellentesque augue placerat vestibulum molestie
				bibendum ut elit, odio primis at id facilisis
				fringilla malesuada dis, eros viverra potenti
				lobortis ultricies sed felis ornare. Penatibus
				quam tellus parturient vulputate varius tempor
				maecenas bibendum, dictumst ultricies habitant
				massa primis eget id mi curae, condimentum
				euismod lacinia mauris metus ridiculus torquent.
				Vehicula sodales eleifend eu dis dictum lectus,
				vivamus egestas ipsum tempor urna. Rutrum diam
				vitae vehicula finibus mollis vel habitant erat
				dapibus dolor nullam quam quis mauris pharetra,
				placerat scelerisque cubilia arcu leo pulvinar
				morbi interdum mi dis venenatis platea sodales.
				<div class="float-right mt-4 ref">
					READ MORE...
				</div>
			</div>

			<div class="card content">
				<b class="header">Earthworks</b> was founding in
				Nisl nec himenaeos lacinia massa class odio
				pharetra, convallis litora luctus nunc dui
				fringilla arcu duis, nullam mattis cursus
				rhoncus accumsan ac. Quam neque ullamcorper
				torquent taciti turpis a leo elit iaculis, et
				lorem aptent aenean faucibus cubilia senectus
				metus, magna est eu morbi lacinia tortor feugiat
				imperdiet. Velit tellus nisi hac magnis
				vulputate sagittis ut aliquet montes, ultrices
				turpis tristique senectus nisl mi mus fames ad,
				convallis sociosqu ligula adipiscing maximus
				consequat dis purus. Tincidunt senectus
				pellentesque augue placerat vestibulum molestie
				bibendum ut elit, odio primis at id facilisis
				fringilla malesuada dis, eros viverra potenti
				lobortis ultricies sed felis ornare. Penatibus
				quam tellus parturient vulputate varius tempor
				maecenas bibendum, dictumst ultricies habitant
				massa primis eget id mi curae, condimentum
				euismod lacinia mauris metus ridiculus torquent.
				Vehicula sodales eleifend eu dis dictum lectus,
				vivamus egestas ipsum tempor urna. Rutrum diam
				vitae vehicula finibus mollis vel habitant erat
				dapibus dolor nullam quam quis mauris pharetra,
				placerat scelerisque cubilia arcu leo pulvinar
				morbi interdum mi dis venenatis platea sodales.
				<div class="float-right mt-4 ref">
					READ MORE...
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>
