{% extends 'src/templates/2-cards.html' %}

{% block fractions %}1/3{% endblock %}

{% block leftcards %}
<!-- About pictures -->
<div class="flex flex-col card gap-y-4 row-span-2">
	<div class="w-full text-xl font-bold seperator-down header">
		About
	</div>
	<div class="flex-grow">
		<img src="/assets/img/personal.jpg" class="object-cover h-full" />
	</div>
	<div class="flex-grow">
		<img src="/assets/img/magnetic-anomalies.bmp" class="object-cover h-full" />
	</div>
</div>
{% endblock %}

{% block rightcards %}
<!-- About cards -->
<div class="card content">
	<b class="header">Colin Reeves</b> has had an career in Nisl nec
	himenaeos lacinia massa class odio pharetra, convallis litora luctus
	nunc dui fringilla arcu duis, nullam mattis cursus rhoncus accumsan ac.
	Quam neque ullamcorper torquent taciti turpis a leo elit iaculis, et
	lorem aptent aenean faucibus cubilia senectus metus, magna est eu morbi
	lacinia tortor feugiat imperdiet.
	<div class="float-right mt-4 ref">
		READ MORE...
	</div>
</div>

<!-- Earthworks card -->
<div class="card content">
	<b class="header">Earthworks</b> was founding in Nisl nec himenaeos
	lacinia massa class odio pharetra, convallis litora luctus nunc dui
	fringilla arcu duis, nullam mattis cursus rhoncus accumsan ac.
	Himenaeos lacinia massa class odio pharetra, convallis litora luctus
	nunc dui fringilla arcu duis, nullam mattis cursus rhoncus accumsan ac.
	Quam neque ullamcorper torquent taciti turpis a leo elit iaculis, et
	lorem aptent aenean faucibus cubilia senectus metus, magna est eu morbi
	lacinia tortor feugiat imperdiet.
	<div class="float-right mt-4 ref">
		READ MORE...
	</div>
</div>
{% endblock %}
