{% extends 'src/includes/base.html' %} {% block content %}
<!-- Content -->
<div class="squish-center-container">
	<div
		class="w-full grid grid-cols-2 grid-rows-2 gap-x-4"
		style="grid-template-columns: 1fr 2fr; grid-template-rows: auto auto;"
	>
		<!-- Gondwana Animation -->
		<div class="flex flex-col row-span-2 card gap-y-2">
			<div
				class="w-full text-xl font-bold seperator-down header"
			>
				Contact
			</div>
			<div>
				<img
					src="/assets/img/langegeer.jpg"
					class="w-full"
				/>
			</div>
			<div>
				<img
					src="/assets/img/office.jpg"
					class="w-full"
				/>
			</div>
		</div>

		<div class="card content">
			<div class="grid grid-cols-2 gap-y-2 gap-x-2">
				<div class="italic">
					Postal Address:
				</div>
				<div>
					Achterom 41a<br />
					2611 PL Delft<br />
					The Netherlands
				</div>
				<div class="italic">
					Visiting Address:
				</div>
				<div>
					Lange Geer 44<br />
					2611 PW Delft<br />
					The Netherlands
				</div>
				<div class="italic">
					Mobile phone:
				</div>
				<div>
					+31 611 35 62 72
				</div>
				<div class="italic">
					E-mail:
				</div>
				<div>
					reeves.earth@planet.nl
				</div>
				<div class="italic">
					Website:
				</div>
				<div>
					<a href="/">www.reeves.nl</a>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>
