{% extends 'src/includes/base.html' %} {% block content %} {% macro link(title,
href) %}
<div class="py-2 header seperator-down hover:underline">
	<a class="text-xl text-refcolor" href="{{ href }}">{{ title }}</a>
</div>
{% endmacro %}

<!-- Content -->
<div class="md:squish-center-container">
	<div class="w-full md:grid-2/1 md:gap-x-4">
		<!-- Gondwana Animation -->
		<div class="flex flex-col mb-4 card md:mb-0">
			<div
				class="w-full text-xl font-bold seperator-down header"
			>
				Gondwana
			</div>
			<div class="content-center align-middle">
				<img
					class="w-full"
					src="/assets/img/gondwana.gif"
					alt="Gondwana Animation"
				/>
			</div>
		</div>

		<div class="flex flex-col gap-y-4 row-span-2">
			<!-- Links -->
			<div class="card">
				<div
					class="w-full font-bold seperator-down header"
				>
					Links
				</div>
				<div class="content">
					Follow the links below to discover
					everything from the basic principles of
					global tectonics to the latest research
					on the dispersal of Gondwana, complete
					with animations. The work part of the
					IGCP Project 628, the Geological Map of
					Gondwana:
					<div class="text-refcolor">
						<a
							href="http://www.gondwana.geologia.ufrj.br/en/"
							>http://www.gondwana.geologia.ufrj.br/en/</a
						>
					</div>
				</div>
				<div class="pt-2">
					{{ link('Principles of global
					tectonics', '/') }} {{ link('Selected
					animations', '/') }} {{ link('Research
					updates', '/') }} {{ link('Twelve
					lectures', '/') }} {{ link('Other
					material', '/') }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
