{% extends 'src/templates/2-cards.html' %}

{% block fractions %}3/2{% endblock %}

{% block leftcards %}
<!-- Gondwana Animation -->
<a href="/gondwana.html" class="flex flex-col card row-span-2">
	<div class="w-full text-xl font-bold seperator-down header">
		Gondwana
	</div>
	<div class="content-end flex-grow align-middle">
		<img
			class="object-cover h-full"
			src="/assets/img/animation.gif"
			alt="Animation of Colin Reeves"
		/>
	</div>
</a>
{% endblock %}

{% block rightcards %}
<!-- About -->
<div class="flex flex-col card">
	<div class="w-full text-xl seperator-down header">
		About
		<b>
			Colin Reeves
		</b>
	</div>
	<div class="flex flex-row items-center content-center flex-grow pt-4 space-x-4">
        <img
            src="/assets/img/smallmugshot.jpg"
            class="flex-grow h-full max-h-32"
            alt="Colin Reeves"
        />
		<div class="content">
			<div>
                Colin Reeves is an earth scientist specialised in geophysical
                mapping. In a career spanning more than 50 years he has worked
                primarily in Africa and the southern hemisphere on national airborne
                survey programmes. In retirement he endeavours to share these unique
                insights and realise their scientific value to studies of Gondwana and
                its dispersal.
            </div>
			<div class="ref">
				<a href="/about.html">
					READ MORE...
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Newest Update -->
<div class="flex flex-col card">
	<div class="w-full text-xl font-bold seperator-down header">
		Newest Update
	</div>
	<div class="flex-grow py-4 content">
		Justo mauris lorem metus vulputate in nam ad aptent, eros class
		ut sollicitudin nibh ornare diam, curae ridiculus dis sodales
		tristique finibus at. Litora etiam leo aptent eros placerat
		lacus cursus senectus aliquet feugiat taciti nibh, elementum.
	</div>
	<div class="ref">
		<a href="/news">
			READ MORE...
		</a>
	</div>
</div>
{% endblock %}
