{% macro publicationClass(title, content, href) %}
<div class="flex flex-col card gap-y-4">
	<div class="w-full text-xl seperator-down header">
		{{ title }}
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="float-right ref">
		<a href="{{ href }}">
			READ MORE...
		</a>
	</div>
</div>
{% endmacro %}

{% extends 'src/templates/2-cards.html' %}

{% block fractions %}3fr 2fr{% endblock %}

{% block leftcards %}
<!-- Publications Picture -->
<div class="flex flex-col card row-span-2">
	<div class="w-full text-xl font-bold seperator-down header">
		Publications
	</div>
	<div class="content-center flex-grow align-middle">
		<img
			class="object-cover h-full"
			src="/assets/img/publications.png"
			alt="Publications of Colin Reeves"
		/>
	</div>
</div>
{% endblock %}

{% block rightcards %}
<!-- List of publications -->
<div class="grid grid-cols-1 gap-y-2 row-span-2">
	{{
		publicationClass(
			"Key Publications",
			"An introduction to the publications that stood the test of time",
			"/"
		)
	}}
	{{
		publicationClass(
			"Comprehensive List",
			"A full list of publications since 1970.",
			"/"
		)
	}}
	{{
		publicationClass(
			"Gondwana publications",
			"A list of publications relevant to Gondwana research, including the work
			of students and their theses.",
			"/"
		)
	}}
</div>
{% endblock %}
