{% extends 'src/includes/base.html' %} {% macro publicationClass(title, content,
href) %}
<div class="flex flex-col card gap-y-4">
	<div class="w-full text-xl seperator-down header">
		{{ title }}
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="float-right ref">
		<a href="{{ href }}">
			READ MORE...
		</a>
	</div>
</div>
{% endmacro %} {% block content %}
<!-- Content -->
<div class="md:squish-center-container">
	<div class="w-full md:grid-2/1 md:gap-x-4">
		<!-- Gondwana Animation -->
		<div class="flex flex-col mb-4 card gap-y-4 md:mb-0">
			<div
				class="w-full text-xl font-bold seperator-down header"
			>
				Publications
			</div>
			<div class="content-center align-middle">
				<img
					class="w-full"
					src="/assets/img/publications.png"
					alt="Publications of Colin Reeves"
				/>
			</div>
		</div>

		<div class="flex flex-col row-span-2 gap-y-4">
			{{ publicationClass("Key Publications", "An introduction
			to the publications that stood the test of time", "/")
			}} {{ publicationClass("Comprehensive List", "A full
			list of publications since 1970.", "/") }} {{
			publicationClass("Gondwana publications", "A list of
			publications relevant to Gondwana research, including
			the work of students and their theses.", "/") }}
		</div>
	</div>
	{% endblock %}
</div>
